/build
# Ignore main.xml
layout/activity_main.xml

# Ignore MainActivity.java
com/example/mycalculator/MainActivity.java

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties